# ignore protobuf build
protobuf
# ignore protoc auto generate files
*.pb.go

# ignore mockgen auto generate files
*mock.go

# ignore server binare generated for test
examples/route_guide/server/server

# ignore output of tests
test.output
tests.xml
